<!-- <div class="card text-center">
    <div class="card-header">
     Welcome
    </div>
    <div class="card-body">
      <h5 class="card-title">Firebase Integration</h5>
     
      <a  class="btn btn-warning" (click)="logOut()">Log Out</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card border-0 shadow p-3">
        <div class="form-floating mb-3 text-center">
          <h5 for="firstName" class="text-warning">Add Student</h5>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName">
          <label for="firstName">First Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName">
          <label for="lastName">Last Name</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
          <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="mobileNumber">
          <label for="mobile">Mobile</label>
        </div>
        <button type="button" class="btn btn-outline-success" (click)="addStudent()" *ngIf="!isUpdateMode">Add Student</button>
        <button type="button" class="btn btn-outline-success" (click)="updateStudent()" *ngIf="isUpdateMode">Update Student</button>
      </div>
    </div>
    <div class="col-md-8 mt-2">
      <h5 class="text-danger"> Student List</h5>
      <div class="card p-3 shadow">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Student of studentList">
                <td >{{Student.firstName}}</td>
                <td>{{Student.lastName}}</td>
                <td>{{Student.email}}</td>
                <td>{{Student.mobileNumber}}</td>
                <td>
                  <button class="btn btn-outline-danger" (click)="deleteStudent(Student)">Delete</button>
                  <a style="cursor: pointer; margin-left: 4px;" (click)="updateStudentForm(Student)"><i class="fa-solid fa-pen"></i></a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>