.form-left{
    background-image: url('../../assets/images/bgform.png');
    background-size: 50% 100vh ;
    background-repeat: no-repeat;
   background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.form-left::before {
    content: "";
    background: rgba(52, 161, 244, 1); 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
    opacity: 27;
  }
  .form-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 10px;
  }
  form{
      width: 70%;
  }
  .form-right h4{
      font-weight: 700;
  }
  .form-right h6{
      font-weight: 400;
  }
  .form-right label{
      font-size: 14px;
      font-weight: 600;
  }
  .form-control::placeholder{
      color: rgba(148, 163, 184, 1); 
  }
  @media (max-width: 800px) {
      .form-left {
      display: none;
       }
       .form-right{
          width: 100%;
       }
   }
  